//variables
$slideWidth: 1024px;
$slideHeight: 640px;
$progressBar: #4883FF;

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#deck {
  position: relative;
}

.slide {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 0 0;
  height: $slideHeight;
  width: $slideWidth;
  background-color: #eeeeee;
}

#progress-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 6px;
  background-color: $progressBar;
}

footer {
  position: absolute;
  right: 20px;
  bottom: 20px;
  float: right;
}