@import '../bower_components/normalize-scss/normalize',
        'theme-default';


//variables
$slideWidth: 1024px;
$slideHeight: 640px;
$progressBar: $yellow;
$slideBg: #eee;
$mainBg: #2b2b2b;

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: $mainBg;
}

#deck {
  position: relative;
}

.slide {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  overflow: hidden;
  height: $slideHeight;
  width: $slideWidth;
  padding: 30px;
  box-sizing: border-box;
  background-color: $slideBg;
  &.ng-hide {
    opacity: 0;
  }
  &.ng-hide-remove, &.ng-hide-add {
    transition: all .6s ease;
    display: block !important;
  }
}

#progress-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 8px;
  transition: width .5s ease;
  background-color: $progressBar;
}

footer {
  position: absolute;
  right: 20px;
  bottom: 20px;
  float: right;
}