<section id="deck">
  <slide>
    <h1>slide 1</h1>
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad</li>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
    </ul>
  </slide>
  <slide>
    <h1>slide 2</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur beatae consequuntur corporis deserunt distinctio dolores eos esse ex laboriosam maiores, maxime nisi non officia omnis pariatur quis similique voluptas voluptatem!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur beatae consequuntur corporis deserunt distinctio dolores eos esse ex laboriosam maiores, maxime nisi non officia omnis pariatur quis similique voluptas voluptatem!</p>
  </slide>
  <slide>
    <h1>slide 3</h1>
    <h2>The end</h2>
  </slide>
</section>
