<slide>
  <h1>Applause</h1>
  <h4>HTML presentations powered by Angular JS</h4>
  <ul>
    <li>Simple and clean</li>
    <li>Fully customizable</li>
    <li>Useful helpers</li>
    <li>Keyboard shortcuts
      <ol>
        <li>right arrow or space bar > next slide</li>
        <li>left arrow > previous  slide</li>
        <li>esc > "go to" popup</li>
      </ol>
    </li>
  </ul>
</slide>

<slide>
  <h2>I'm the H2</h2>
  <h3>...and I'm the H3</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur beatae consequuntur corporis deserunt distinctio dolores eos esse ex laboriosam maiores, maxime nisi non officia omnis pariatur quis similique voluptas voluptatem!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur beatae consequuntur corporis deserunt distinctio dolores eos esse ex laboriosam maiores, maxime nisi non officia omnis pariatur quis similique voluptas voluptatem!</p>
  <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit</blockquote>
</slide>

<slide>
  <h2>Code highlighting</h2>
  <div hljs>
    applause.directive('slide', function (Appdata) {
      return {
        template: '<section class="slide" ng-transclude=""></section>',
        restrict: 'EA',
        transclude: true,
        replace: true,
        scope: {}
      };
    });
  </div>
  <p>You just need to add the "hljs" attribute to your element: <code class="light">&lt;div <strong>hljs</strong>&gt;your code here&lt;/div&gt;</code></p>
</slide>

<slide markdown>
  ##Markdown content

  write your slide in markdown if you like it

- list item **one**
- list item *two*
</slide>

<slide bg-img="oscar.jpg" credits="TIME & LIFE Pictures http://life.time.com/?attachment_id=11373">
  <h2 class="left">Auto fitting images</h2>
  <p class="light-text">Add the "bg-img" attribute to your slide element:<br><code>&lt;slide <strong>bg-img</strong>="path/to/image"&gt;</code><br>without worrying about the image size.</p>
  <p class="light-text">You can add credits too (with autolink)</p>
</slide>

<slide>
  <h1>Do you like that?</h1>
  <img class="center media" src="images/slow-clap.gif" alt=""/>
  <p class="center">Follow me on twitter <a href="https://twitter.com/granze">@granze</a></p>
</slide>