@import '../bower_components/normalize-scss/normalize';

//variables
$slideWidth: 1024px;
$slideHeight: 640px;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  tr {
    th, td {
      padding: 10px;
    }
  }
}

#deck {
  position: relative;
}

.slide {
  position: absolute;
  top: 50%;
  left: -50%;
  overflow: hidden;
  height: $slideHeight;
  width: $slideWidth;
  padding: 30px;
  transition: all .6s ease;
  &.preview {
    left: 100%;
    top: 40px;
  }
  &.current {
    left: 50%;
    &.preview {
      left: 40px;
      top: 40px;
    }
  }
  &.next {
    &.preview {
      left: 50%;
      top: 40px;
    }
  }
}

#go-to {
  z-index: 90;
  width: 160px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -80px;
  padding: 10px;
  text-align: center;
  border: 2px solid lighten(rgba(#000, .6), 40);
  border-radius: 0 0 6px 6px;
  color: #fff;
  font-weight: bold;
  background-color: rgba(#000, .6);
  &.ng-hide {
    top: -100px;
  }
  &.ng-hide-remove, &.ng-hide-add {
    transition: all .4s ease;
    display: block !important;
  }
  input {
    width: 58px;
    margin-left: 4px;
    padding: 4px;
    text-align: center;
    color: #333;
    border: none;
  }
}

#progress-bar {
  z-index: 90;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 8px;
  transition: width .5s ease;
}

#slide-count {
  position: absolute;
  right: 20px;
  bottom: 20px;
  margin: 0;
  padding: 5px 10px;
  letter-spacing: .2em;
}

.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.flip {
  display: block;
  position: absolute;
  left: 20px;
  bottom: 20px;
  .clock {
    font-size: 0;
    font-family: Arial, Verdana, sans-serif;
    font-weight: bold;
    * {
      font-size: 70px;
    }
    > span {
      position: relative;
      display: inline-block;
      margin-right: 10px;
      padding: 5px 15px;
      border-radius: 4px;
      color: #fff;
      box-shadow: 1px 1px 1px #555;
      background-color: #333;
      background: -webkit-linear-gradient(top, #333 0%, #444 50%, #333 51%, #222 100%);
      background: linear-gradient(to bottom, #333 0%, #444 50%, #333 51%, #222 100%);
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 3px;
        background-color: #111;
      }
    }
    > b {
      color: #666;
      margin-right: 10px;
    }
  }
  .commands {
    text-align: center;
    .btn {
      margin: 20px 10px 10px 10px;
      padding: 5px 10px;
      border: 1px solid #000;
      border-radius: 2px;
      cursor: pointer;
      color: #dedede;
      background-color: #333;
    }
  }
}

/*
Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/
*/

.hljs {
  display: block;
  padding: 0.5em;
  background: #23241f;
  color: #f8f8f2;
  text-align: left;
}

.hljs-tag {
  color: #f8f8f2;
}

.css {
  .hljs-rules, .hljs-value, .hljs-function .hljs-preprocessor {
    color: #f8f8f2;
  }
}

.hljs-pragma {
  color: #f8f8f2;
}

.hljs-strongemphasis, .hljs-strong, .hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet, .hljs-blockquote, .hljs-horizontal_rule, .hljs-number, .hljs-regexp, .alias .hljs-keyword, .hljs-literal, .hljs-hexcolor {
  color: #ae81ff;
}

.hljs-tag .hljs-value, .hljs-code, .hljs-title, .css .hljs-class, .hljs-class .hljs-title:last-child {
  color: #a6e22e;
}

.hljs-link_url {
  font-size: 80%;
}

.hljs-strong, .hljs-strongemphasis {
  font-weight: bold;
}

.hljs-emphasis, .hljs-strongemphasis, .hljs-class .hljs-title:last-child {
  font-style: italic;
}

.hljs-keyword, .hljs-function, .hljs-change, .hljs-winutils, .hljs-flow, .lisp .hljs-title, .clojure .hljs-built_in, .nginx .hljs-title, .tex .hljs-special, .hljs-header, .hljs-attribute {
  color: #f92672;
}

.hljs-symbol {
  color: #f92672;
  .hljs-string {
    color: #f92672;
  }
}

.hljs-tag .hljs-title, .hljs-value, .alias .hljs-keyword:first-child {
  color: #f92672;
}

.css {
  .hljs-tag, .unit, .hljs-important {
    color: #f92672;
  }
}

.hljs-function .hljs-keyword, .hljs-class .hljs-keyword:first-child, .hljs-constant, .css .hljs-attribute {
  color: #66d9ef;
}

.hljs-variable, .hljs-params, .hljs-class .hljs-title {
  color: #f8f8f2;
}

.hljs-string, .css .hljs-id, .hljs-subst, .haskell .hljs-type, .ruby .hljs-class .hljs-parent, .hljs-built_in {
  color: #e6db74;
}

.django {
  .hljs-template_tag, .hljs-variable {
    color: #e6db74;
  }
}

.smalltalk .hljs-class, .django .hljs-filter .hljs-argument {
  color: #e6db74;
}

.smalltalk {
  .hljs-localvars, .hljs-array {
    color: #e6db74;
  }
}

.hljs-attr_selector, .hljs-pseudo, .hljs-addition, .hljs-stream, .hljs-envvar {
  color: #e6db74;
}

.apache {
  .hljs-tag, .hljs-cbracket {
    color: #e6db74;
  }
}

.tex .hljs-command, .hljs-prompt, .hljs-link_label, .hljs-link_url {
  color: #e6db74;
}

.hljs-comment, .hljs-javadoc, .java .hljs-annotation, .python .hljs-decorator, .hljs-template_comment, .hljs-pi, .hljs-doctype, .hljs-deletion, .hljs-shebang, .apache .hljs-sqbracket, .tex .hljs-formula {
  color: #75715e;
}

.coffeescript .javascript, .javascript .xml, .tex .hljs-formula {
  opacity: 0.5;
}

.xml {
  .javascript, .vbscript, .css, .hljs-cdata, .php {
    opacity: 0.5;
  }
}

.php .xml {
  opacity: 0.5;
}


